pre,
td,
th {
    padding: 5px 10px
}

code,
hr,
pre,
thead {
    background: #EEE
}

body {
    color: #333;
    font-family: 'Segoe UI', 'Lucida Grande', Helvetica, sans-serif;
    line-height: 1.5;
}

div.summup {
    max-width: 800px;
    margin: 50px auto;
}

div.detail {
    padding: 20px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 400;
    line-height: 1em;
    margin: 20px 0
}

h1 {
    font-size: 2.25em
}

h2 {
    font-size: 1.75em
}

h3 {
    font-size: 1.5em
}

h4,
h5,
h6 {
    font-size: 1.25em
}

a {
    color: #08C;
    text-decoration: none
}

a:focus,
a:hover {
    text-decoration: underline
}

a:visited {
    color: #058
}

img {
    max-width: 100%
}

li + li {
    margin-top: 3px
}

dt {
    font-weight: 700
}

code {
    font-family: Consolas, "Lucida Console", monospace;
    padding: 1px 5px
}

pre {
    white-space: pre-wrap
}

pre code {
    padding: 0
}

blockquote {
    border-left: 5px solid #EEE;
    margin: 0;
    padding: 0 10px
}

table {
    border-collapse: collapse;
    width: 100%
}

table + table {
    margin-top: 1em
}

thead {
    text-align: left
}

td,
th {
    border: 1px solid #EEE
}

td.component {
    word-break: break-all;
}

hr {
    border: 0;
    height: 1px
}

.banner {
    text-align: center;
}

canvas {
    display: block;
    margin: 10px auto;
}

.statusOK {
    background-color: #0a0
}

.statusERROR {
    background-color: #d4333f
}

.sevBLOCKER {
    background-color: #2c3e50
}

.sevCRITICAL {
    background-color: #d43223
}

.sevMAJOR {
    background-color: #f39c12
}

.sevMINOR {
    background-color: #319ddb
}

.hidden {
    display: none;
}

.rulestable {
    table-layout: fixed; word-wrap: break-word
}

