name: Pipeline
on: [push]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: '17'
          cache: 'npm'
      - run: npm ci
      - run: npm link
      - run: node --check .
      - run: npm test
      - run: sonar-report
          --sonarurl="https://sonarcloud.io"
          --sonarcomponent="soprasteria_sonar-report"
          --sonarorganization="sopra-steria"
          --project="Sonar Report"
          --application="sonar-report"
          --release="1.0.0"
          --branch="${GITHUB_REF##*/}"
          --output="samples/sonar-report_sonar-report.html"
          --exit-code